<div class="card tilt-outer">
  <img draggable="false" src="https://rsz.io/@@src?mode=crop&width=450&height=450" class="tilt" data-tilt />
</div>



<div class="box-container">
  <div class="box-anim">
    <div class="box" data-tilt>
       <img draggable="false" src="https://rsz.io/@@src?mode=crop&width=450&height=450" />
       <!-- <img draggable="false" src="https://rsz.io/images.unsplash.com/photo-1503911556331-4522d2471f9f?mode=crop&width=450&height=450"/> -->
    </div>
  </div>
  <div class="box-shadow-start"></div>
  <div class="box-shadow"></div>
</div>