<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@@title</title>
    <meta name="description" content="@@description" />
    <meta name="keywords" content="@@keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon" sizes="16x16">

    <!-- POC only, package into lib.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/lib.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- POC only, package into lib.css -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

    <!-- Pure media query grid -->
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <!--<![endif]-->


    
  </head>
  <body>