body{
 font-family: $ff-content;
}

h1, h2, h3, h4, h5, h6{
 // font-family: $ff-title
}

.wrapper{
   @include clearfix;
}


.pages{
  position: relative;
  margin: 0 auto;
  padding-bottom: em(75);
}

.wrapper-content{
  padding: em(10) em(10);
}


html, body, .editor {
  margin: 0;
}



.title{
  text-align: center;
  margin-top: 0;
}


.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: em(10) em(10);
  background: #0060B6;
  color: #fff;
}
.navigation-items{

}



.Site{
  &__title{
    $fz: 18;
    font-size: em($fz);
    padding-bottom: em(10, $fz);
  }
}




/*============================
=            Tilt            =
============================*/
.card{
  width: 200px;
  height: 200px;
  margin: 50px auto;
  margin: 50px 10px;
  float: left;

}

.tilt{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  border-radius: 6px;
  will-change: transform;
  z-index: 1;
}

.tilt-outer {
  transition: all 0.2s ease-out;
  cursor: pointer;
  will-change: transform;
  position: relative;
  &:before, &:after{
    content: "";
    margin: auto;
    transition: all 0.2s ease-out;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 6px;
    z-index: -1;
    // background: red;
  }
  &:before{
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
  }
  &:after{
    opacity: 0;
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
  }
}

/*----------  Children  ----------*/
.tilt-outer{
  img{
    max-width: 100%;
    user-select: none;
    user-drag: none;
  }
}



/*----------  State  ----------*/
.tilt-outer{
  &:hover{
    transform: scale(1.05);
  }

  &:hover:before{
    opacity: 0;
  }

  &:hover:after{
    opacity: 1;
  }

  &:active{
    transition: .05s;
    transform: scale(1);
  }

  &:active:before{
    transition: .05s;
    opacity: 1;
  }

  &:active:after{
    transition: .05s;
    opacity: 0;
  }
}



// .tilt-outer.tilt-fallback-shadow{
//   &:before{
//     opacity: 1;
//   }
//   &:hover:after{
//     display: none;
//   }
//   &:hover:not(:active):before{
//     box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
//   }
//   &:active{
//     transition: .05s;
//     transform: scale(1);
//   }
// }






/* Custom glare */
.tilt-glare{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  left: 0;
  right: 0;
  margin: auto;
  // background: linear-gradient(195.5deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 80%);
  // background: linear-gradient(red, orange);
  width: 100%;
  height: 100%;
  transition: .2s;
  z-index: 1;
  pointer-events: none;
}

.box-container{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  margin: 50px 10px;
  float: left;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box-anim{
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.box img{
  max-width: 100%;
  border-radius: 6px;
  user-select: none;
}

.box-shadow-start{
  border-radius: 5px;
  position: absolute;
  z-index: 0;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  // box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

.box-shadow{
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: 0;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  // box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
  box-shadow: 0 47.25px 105px rgba(14, 21, 47, 0.4), 0 16.8px 42px rgba(14, 21, 47, 0.4);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}


.box-anim:hover{
  transform: scale(1.05);
}

.box-container:hover:not(:active){
  .box-shadow-start{
    opacity: 0;
  }
  .box-shadow{
    opacity: 1;
  }
}
.box-anim{
  &:active{
    transition: .05s;
    transform: scale(1);
  }
}

/*=====  End of Tilt  ======*/
